<!-- hero post -->
<header class="page-header primary-container">
	<div class="row">
		<div class="large-12 columns">
			<h1>Archive</h1>
		</div>
	</div>
</header>

<!-- Main archive loop -->
<section class="content archive">
	<div class="row">
		<div class="large-9 columns">
			<%= partial "partials/_excerpt-archived" %>
			<%= partial "partials/_excerpt-archived" %>
			<%= partial "partials/_excerpt-archived" %>
			<%= partial "partials/_excerpt-archived" %>
			<%= partial "partials/_pagination" %>
		</div>
	</div>
</section>