<!-- hero post -->
<!-- Main archive loop -->
<section class="content archive">
	<div class="row">
		<div class="large-14 large-centered columns">
			<div class="row">
				<div class="large-8 columns">
					<%= partial "partials/_figure" %>
					<%= partial "partials/_excerpt-archived" %>
				</div>

				<div class="large-8 columns">
					<%= partial "partials/_figure" %>
					<%= partial "partials/_excerpt-archived" %>
				</div>

				<div class="large-8 columns">
					<%= partial "partials/_figure" %>
					<%= partial "partials/_excerpt-archived" %>
				</div>

				<div class="large-8 columns">
					<%= partial "partials/_figure" %>
					<%= partial "partials/_excerpt-archived" %>
				</div>
			</div>
		</div>	
	</div>
</section>