<!-- Main archive loop -->
<section class="content archive">
	<div class="row">
		<div class="medium-14 medium-centered columns">
			<ul class="base-block-grid-2 medium-block-grid-3 large-block-grid-4 xlarge-block-grid-5 xxlarge-block-grid-6">
				<li class="archive-block">
					<%= partial "partials/_figure" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>

				<li class="archive-block">
					<%= partial "partials/_figure" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>

				<li class="archive-block">
					<%= partial "partials/_figure" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>

				<li class="archive-block">
					<%= partial "partials/_figure" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>

				<li class="archive-block">
					<%= partial "partials/_figure" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>

				<li class="archive-block">
					<%= partial "partials/_figure" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>

				<li class="archive-block">
					<%= partial "partials/_figure" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>

				<li class="archive-block">
					<%= partial "partials/_figure" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>
			</ul>
		</div>	
	</div>
</section>
