<!-- Main archive loop -->
<section class="content archive">
	<div class="row">
		<div class="medium-14 medium-centered columns">
			<ul class="medium-block-grid-2 xlarge-block-grid-3 xxlarge-block-grid-4">
				<li class="archive-block">
					<%= partial "partials/_figure-caption-archive" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>

				<li class="archive-block">
					<%= partial "partials/_figure-caption-archive" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>

				<li class="archive-block">
					<%= partial "partials/_figure-caption-archive" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>

				<li class="archive-block">
					<%= partial "partials/_figure-caption-archive" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>

				<li class="archive-block">
					<%= partial "partials/_figure-caption-archive" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>

				<li class="archive-block">
					<%= partial "partials/_figure-caption-archive" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>

				<li class="archive-block">
					<%= partial "partials/_figure-caption-archive" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>

				<li class="archive-block">
					<%= partial "partials/_figure-caption-archive" %>
					<%= partial "partials/_excerpt-archived" %>
				</li>
			</ul>
		</div>	
	</div>
</section>
