<div class="content">
	<section class="single-article">
		<%= partial "partials/_figure-hero-studio" %>

		<div class="row">	
			<div class="medium-14 medium-centered columns">
				<section class="leader row">
					<div class="large-8 columns">
					<%= partial "partials/_header-introduction-studio" %>
					</div>

					<div class="large-8 columns">
					<%= partial "partials/_page-studio" %>
					</div>
				</section>
			</div>
		</div>	
	</section>

	<section class="bright page-section">
		<div class="row">
			<div class="medium-14 medium-centered columns">
				<div class="row">
					<div class="medium-8 columns">
						<%= partial "partials/_figure-1x1" %>
					</div>
					<div class="medium-8 columns">
						<%= partial "partials/_aside-list" %>
					</div>
				</div>
			</div>	
		</div>
	</section>

	<section class="page-section">
		<div class="row">
			<div class="medium-14 medium-centered columns">
				<div class="row">
					<div class="medium-4 columns">
						<%= partial "partials/_aside-list-awards" %>
					</div>
					<div class="medium-4 columns">
						<%= partial "partials/_aside-list-awards" %>
					</div>
					<div class="medium-4 columns">
						<%= partial "partials/_aside-list-awards" %>
					</div>
					<div class="medium-4 columns">
						<%= partial "partials/_aside-list-awards" %>
					</div>
				</div>
			</div>	
		</div>
	</section>
</div>
