<div class="content">
	<section class="single-article">
		<%= partial "partials/_figure-hero-studio" %>

		<div class="row">	
			<div class="medium-14 medium-centered columns">
				<section class="leader row">
					<div class="large-8 columns">
					<%= partial "partials/_header-introduction-studio" %>
					</div>

					<div class="large-8 columns">
					<%= partial "partials/_page-studio" %>
					</div>
				</section>
			</div>
		</div>	
	</section>

	<section class="bright page-section">
		<div class="row">
			<div class="medium-14 medium-centered columns">
				<div class="row">
					<div class="medium-8 columns gutter-right show-for-medium-up">
						<%= partial "partials/_figure-1x1" %>
					</div>
					<div class="medium-8 columns">
						<%= partial "partials/_aside-list" %>
					</div>
				</div>
			</div>	
		</div>
	</section>

	<section>
		
		<!-- Medium and Small screen contact-->
		<div class="contact-info hide-for-large-up">
			<div class="row">
				<div class="medium-14 medium-centered columns">
					<%= partial "partials/_aside-list-contact" %>
				</div>
			</div>
		</div>

		<div class="clients-awards row">
			<div class="medium-14 medium-centered columns">
				<div class="row">
					<!-- Larger screen contact-->
					<div id="contact-info" class="medium-16 large-4 columns show-for-large-up">
						<div class="inner">
						<%= partial "partials/_aside-list-contact" %>
						</div>
					</div>
					<div class="medium-5 large-4 columns">
						<%= partial "partials/_aside-list-clients" %>
					</div>
					<div class="medium-5 large-4 columns">
						<%= partial "partials/_aside-list-awards" %>
					</div>
					<div class="medium-5 large-4 columns">
						<%= partial "partials/_aside-list-awards" %>
					</div>
				</div>
			</div>	
		</div>
	</section>

	<section class="page-section">
		<div class="row">
			<div class="medium-14 medium-centered columns">
			<%= partial "partials/_figure" %>
			<%= partial "partials/_figure" %>
			</div>
		</div>
	</section>
</div>
