<!-- Main blog loop -->
<section class="content archive">
	<div class="row">
		<div class="medium-14 medium-centered columns">
			
			<div class="blog-row row">
				<div class="medium-8 medium-push-8 large-8 large-push-8 columns">	
					<%= partial "partials/_figure-1x1" %>
				</div>
				<div class="medium-8 medium-pull-8 large-7 large-pull-9 columns">
					<%= partial "partials/_excerpt-blog" %>
				</div>
			</div>

			<div class="blog-row row">
				<div class="medium-8 medium-push-8 large-8 large-push-8 columns">	
					<%= partial "partials/_figure-1x1" %>
				</div>
				<div class="medium-8 medium-pull-8 large-7 large-pull-9 columns">
					<%= partial "partials/_excerpt-blog" %>
				</div>
			</div>

			<div class="blog-row row">
				<div class="medium-8 medium-push-8 large-8 large-push-8 columns">	
					<%= partial "partials/_figure-1x1" %>
				</div>
				<div class="medium-8 medium-pull-8 large-7 large-pull-9 columns">
					<%= partial "partials/_excerpt-blog" %>
				</div>
			</div>

			<div class="blog-row row">
				<div class="medium-8 medium-push-8 large-8 large-push-8 columns">	
					<%= partial "partials/_figure-1x1" %>
				</div>
				<div class="medium-8 medium-pull-8 large-7 large-pull-9 columns">
					<%= partial "partials/_excerpt-blog" %>
				</div>
			</div>

		</div>	
	</div>
</section>
