<div class="content">
	<section class="single-project rhythm">
		<%= partial "partials/_figure-hero" %>

		<div class="row">
			
			<div class="medium-14 medium-centered columns">
				<section class="leader row">
					<div class="large-8 columns">
						<%= partial "partials/_header-introduction" %>
					</div>

					<div class="large-8 columns">
						<%= partial "partials/_page" %>
					</div>
				</section>

				<section>
					<h3 class="h-sub base">Indenity</h3>
					<%= partial "partials/_figure" %>
					<%= partial "partials/_figure" %>
				</section>

				<%= partial "partials/_aside-panel" %>

				<section class="row">
					<div class="large-11 columns">
						<%= partial "partials/_entry" %>
					</div>

					<div class="large-5 columns">
						<%= partial "partials/_aside-awards" %>
					</div>
				</section>	

				<section>
					<h3 class="h-sub base">Indenity</h3>
					<%= partial "partials/_figure" %>
					<%= partial "partials/_figure" %>
				</section>
			</div>
		</div>
	</section>
</div>