<div class="content">
	<section class="single-project rhythm">
		<%= partial "partials/_figure-hero" %>

		<div class="row">
			
			<div class="single-entry medium-14 medium-centered columns">
				<section class="leader row">
					<h2 class="h-sub base flip hide-for-small-only">Introduction</h2>
					<div class="large-8 columns">
						<%= partial "partials/_header-introduction" %>
					</div>

					<div class="large-8 columns">
						<%= partial "partials/_page" %>
					</div>
				</section>

				<section class="relative">
					<h3 id="flip" class="h-sub base flip">Indenity</h3>
					<div id="offering">
					<div class="relative">
					<%= partial "partials/_figure-rhythm" %>
					</div>
					<%= partial "partials/_figure-rhythm" %>
					</div>
				</section>

				<%= partial "partials/_aside-panel" %>

				<section class="row">
					<div class="large-11 columns rhythm-2">
						<%= partial "partials/_entry" %>
					</div>

					<div class="large-5 columns rhythm-2">
						<%= partial "partials/_aside-awards" %>
					</div>
				</section>	

				<section class="relative">
					<h3 id="flip-2" class="h-sub base flip">Web</h3>
					<div id="offering-2">
					<%= partial "partials/_figure" %>
					<%= partial "partials/_figure" %>
					</div>
				</section>
			</div>
		</div>
	</section>
</div>
