<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Landscape" %></title>
    
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag "modernizr" %>
  </head>
  
  <body class="<%= page_classes %>">
   <!--  <%= partial "partials/_pattern-style-menu" %> -->
    <%= partial "partials/_header" %>
    <%= yield %>
    <%= partial "partials/_footer" %>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
