---
title: Portfolio
---

<section class="patterns">

	<div class="header row">
		<div class="pattern large-12 columns">
			<p><button id="trigger-overlay" type="button">Open Overlay</button></p>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="pattern large-12 columns">
					<%= partial "partials/_pattern-type" %>
				</div>
			</div>
	
			<div class="row">
				<div class="pattern large-12 columns rhythm">
					<%= partial "partials/_pattern-headers" %>
				</div>	
			</div>
		</div>
	</div>

	<div class="row">
		<div class="pattern large-12 columns">
			<%= partial "partials/_pattern-colors" %>
			
			<h5>Links:</h5>	
			<a href="#" class="">Next Project</a><br/>
			
			<h5>Icons:</h5>

		</div>
	</div>

	<div class="row">
		<div class="pattern large-12 columns">			
			<%= partial "partials/_pattern-icons" %>
		</div>
	</div>

	<div class="row">
		<div class="pattern large-12 columns">
			<%= partial "partials/_nav" %>
		</div>
	</div>	
	
	<div class="row">
		<div class="pattern large-12 columns">	
			<%= partial "partials/_figure" %>
			<%= partial "partials/_excerpt" %>
		</div>
	</div>

	<div class="row">
		<div class="pattern large-12 columns">
			<%= partial "partials/_hero" %>
		</div>
	</div>

	<div class="row">
		<div class="pattern large-12 columns">
			<%= partial "partials/_excerpt-archived" %>
		</div>
	</div>

	<div class="row">
		<div class="pattern large-12 columns">
			<%= partial "partials/_excerpt" %>
		</div>
	</div>

	<div class="row">
		<div class="pattern large-12 columns">
			<%= partial "partials/_profile" %>
		</div>
	</div>

	<div class="row">
		<div class="pattern large-12 columns">
			<%= partial "partials/_aside-bar" %>
		</div>
	</div>

	<div class="row">
		<div class="pattern large-12 columns">
			<%= partial "partials/_page" %>
		</div>
	</div>

	<div class="row">
		<div class="pattern large-12 columns">
			<%= partial "partials/_aside-panel" %>
		</div>
	</div>

	<div class="row">
		<div class="pattern large-12 columns">
			<%= partial "partials/_header-blog" %>
		</div>
	</div>

	<div class="row">
		<div class="pattern large-12 columns">
			<%= partial "partials/_pagination" %>
		</div>
	</div>

	<div class="row">
		<div class="pattern large-6 columns">	
			<%= partial "partials/_aside" %>
			<%= partial "partials/_aside-excerpt" %>
			<%= partial "partials/_aside-subscribe" %>
			<%= partial "partials/_aside-author" %>
			<%= partial "partials/_aside-button" %>
		</div>
	</div>

	<div class="row">
		<div class="pattern large-12 columns">
			<%= partial "partials/_pattern-text" %>
		</div>
	</div>

	<div class="row">
		<div class="pattern large-12 columns">	
			<%= partial "partials/_pattern-buttons" %>
			<%= partial "partials/_pattern-forms" %>
		</div>
	</div>

	<div class="overlay overlay-hugeinc">
		<button type="button" class="overlay-close">Close</button>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Work</a></li>
				<li><a href="#">Clients</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</div>
	
</section>
