<div class="content">

	<section class="single-article rhythm">
		<div class="row">
			<%= partial "partials/_nav-breadcrumbs" %>
			
			<div class="large-9 columns">
				<article class="post">
				<%= partial "partials/_header-page" %>

				<%= partial "partials/_figure" %>

				<%= partial "partials/_entry-blog" %>

				<%= partial "partials/_profile" %>
				</article>
			</div>

			<div class="large-3 columns">
				<%= partial "partials/_aside-panel" %>
			</div>
		</div>
	</section>

</div>