<div class="content">
	<section class="row">
		<%= partial "partials/_nav-breadcrumbs" %>

		<div class="large-3 columns">
			<%= partial "partials/_nav-side" %>
		</div>
		
		<div class="post large-9 columns">
			<aside class="row">
				<div class="large-4 columns">
					<%= partial "partials/_figure-1x1" %>
				</div>
				<div class="large-8 columns">
					<%= partial "partials/_header-description" %>
				</div>
			</aside>

			<%= partial "partials/_entry" %>
			<hr>

			<%= partial "partials/_publication" %>

			<hr>
			<aside class="row">
				<%= partial "partials/_profile-avatar" %>
			</aside>
		</div>
	</section>
</div>