---
title: Welcome to Atom-Man
---

<section class="style">
	<%= partial "partials/_style-menu" %>
	
	<section class="header">
		<div class="row">
			<div class="large-12 columns">
				<%= partial "partials/_logo" %>
				
				<%= partial "partials/_social" %>
				
				<%= partial "partials/_actions" %>
			</div>
		
			<nav class="full-nav">
				<%= partial "partials/_nav" %>
			</nav>
		</div>
	</section>
	
	<div class="row">
		<div class="large-12 column">
			<%= partial "partials/_hero" %>
		</div>
	
	</div>
	
	<div class="row">
		<%= partial "partials/_excerpt-3x" %>
	</div>
	
	<%= partial "partials/_footer" %>
</section>
